bottomfooter {
}

.bottom-button {
  width: 100%;
  //   background-color: #dd3132;
}

.border-right {
  border-right: 2px solid #fff;
  background-color: #dd3132;
  margin-top: 0px;
}

.lastButton {
  background-color: #dd3132;
  margin-top: 0px;
}
